
.logo{
  width: 10%;
  margin-left: 20px;
}

.heading {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 30px;
}
.immovable {
  position: fixed;
  top: 0; /* Ensures it locks to the very top */
  left: 0;
  right: 0;
  background-color: white; /* Gives it a solid background so text doesn't bleed through */
  z-index: 100; /* Ensures this layer stays on top of the scrolling content */
}



.line1{
  margin-top: 0;
  margin-bottom: 0;
}

/*The above part is head*/

.maths , .all , .sci, .sst, .eng, .dwn, .abt, .con{
  margin-left: 10px;
  border: 3px solid transparent;
  background-image: linear-gradient(white, white), 
                    linear-gradient(to right, rgb(100, 200, 255),rgb(200, 200, 255), rgb(150, 150, 255));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 15px;
}

.maths:active , .all:active , .sci:active, .sst:active, .eng:active,  .dwn:active, .abt:active, .con:active{
  background-image: linear-gradient(transparent, transparent), 
                    linear-gradient(to right, rgb(100, 200, 255),rgb(200, 200, 255), rgb(150, 150, 255));
                    
  
  /* Optional: slightly scale the button down for a tactile "pressed" feel */
  transform: scale(0.98);
  transition: background-image 0.2s ease, transform 0.1s ease;
  
  border: 3px solid transparent;
}


.buttons{
  display: flex;
  overflow-x: auto;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 0;
  margin-bottom: 0;
}

.all{
  flex-shrink: 0;
  height: 32px;
  min-width: 48px;
}

.maths{
   height: 32px;
  min-width: 75px;
}

.sci{
  height: 32px;
  min-width: 85px;
}

.sst{
  height: 32px;
  min-width: 55px;
}

.eng{
  height: 32px;
  min-width: 90px;
}

.dwn{
  height: 32px;
  min-width: 105px;
}

.abt{
  flex-shrink: 0;
  white-space: nowrap;
  height: 32px;
  min-width: 95px;
}

.con{
  height: 32px;
  min-width: 90px;
}

.line2{
  margin-top: 0;
}

/*the books*/
.scrollable{
  margin-top: 140px;
}

.math-pdf , .sci-pdf , .eng-pdf, .sst-pdf{
  padding-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Add this to target the sections you are scrolling to */
#math-sec, #eng-sec, #sci-sec, #sst-sec{
  scroll-margin-top: 180px; /* Adjust this number to match the height of your .immovable header */
}


p {
  display: flex;
  justify-content: center;
}

.tn {
  width: 80%;
  display: flex;
  margin-left: 10%;
}

a{
  margin-left: 10px;
  color: rgb(46, 40, 34);
}

.links{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(250, 224, 195);
}

/*extras*/
.abt-us{
  margin-top: 60px;
}

 .contact{
   margin-top: 60px;
   border: 1px solid grey;
   border-radius: 20px;
 }
 
 .dl{
   display:flex;
   justify-content: center;
   margin: 5px;
   color: rgb(40,80,140);
 }